/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.calculator {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 380px; /* Increased width */
    height: 550px; /* Increased height */
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.display {
    grid-row: 1 / 2;
    background-color: #111;
    color: #fff;
    font-size: 2.5em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 70px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.btn {
    font-size: 1.5em;
    background-color: #555;
    color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 5px;
    padding: 20px;
}

.btn:hover {
    background-color: #666;
}

.zero {
    grid-column: span 2;
}

.equal {
    grid-row: 4 / 6; /* Make equal button span 2 columns */
    background-color: #ff9500;
    height: 100%; /* Make equal button equal height */
}

.equal:hover {
    background-color: #ffab40;
}
