/* Reset some default styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: black;
    background-color:white;
    padding-top: 60px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #000;
    color: #fff;
    padding: 1px 0; /* Reduced padding to decrease height */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

header h1 {
    text-align:left;
    line-height: 1.5; /* Adjust line-height if needed */
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0; /* Ensure no additional margin */
    
}

header nav ul li {
    margin: 0 10px;
     /* Adjust margin to fit the reduced header height */
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
   
}

header nav ul li a:hover {
    text-decoration: underline;
}


header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.card {
    background: white;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.card h2 {
    margin-bottom: 20px;
}

.about-content {
    display: flex;
    align-items: center;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.personal-info p {
    margin: 5px 0;
}

.skill {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.skill p {
    width: 100px;
}

.skill-bar {
    background:rgb(202, 202, 222);
    
        width: 80%; /* Adjust the width as needed */
        height: 20px;
        border-radius: 10px;
        overflow: hidden;
        margin-right: 20px;
    }
.skill-level {
    height: 100%;
    background: black;
}

.skill-icon {
    width: 40px;
    height: 40px;
}

.project-card {
    background: #f7f7f7;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.achievement ul {
    list-style: none;
}

.achievement ul li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #000;
    color: #fff;
}

.instagram-icon {
    width: 30px;
    height: 30px;
}

@media (min-width: 768px) {
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card ul {
        width: 50%;
    }

    .project-card {
        width: 50%;
        text-align: center;
    }
}
